eau/raspberry/node red/flows.json
[{"id":"8e427f2f.31f198","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f39edfbf.5757e","type":"debug","z":"8e427f2f.31f198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":560,"wires":[]},{"id":"64595b8b.109ad4","type":"mqtt in","z":"8e427f2f.31f198","name":"","topic":"compteur_connecte/conso","qos":"2","datatype":"utf8","broker":"d39d1ff2.7361a","x":130,"y":240,"wires":[["b62d4369.a15d1"]]},{"id":"b62d4369.a15d1","type":"function","z":"8e427f2f.31f198","name":"split Mqtt","func":"var output = msg.payload.split(\":\");\n\nvar Conso = parseInt(output[0]);\nvar Electrovanne = parseInt(output[1]);\nvar Debit = parseFloat(output[2]);\nvar msg1 = {payload:Conso};\nvar msg2 = {payload:Electrovanne}\nvar msg3 = {payload:Debit}\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":420,"y":240,"wires":[["b6928cb1.b69e88"],["4d72fd15.79870c","31450cd7.5b2cbc"],["8b076895.fae61"]]},{"id":"b6928cb1.b69e88","type":"ui_text","z":"8e427f2f.31f198","group":"e8d7f263.e41488","order":1,"width":0,"height":0,"name":"affichage consomation","label":"Consommmation d'eau : ","format":"{{msg.payload}}","layout":"col-center","x":240,"y":100,"wires":[]},{"id":"6265322c.b8aa3c","type":"mqtt out","z":"8e427f2f.31f198","name":"","topic":"gestion","qos":"","retain":"","broker":"d39d1ff2.7361a","x":1040,"y":280,"wires":[]},{"id":"8b076895.fae61","type":"ui_gauge","z":"8e427f2f.31f198","name":"","group":"e8d7f263.e41488","order":2,"width":12,"height":11,"gtype":"wave","title":"Débit instantanée (10s)","label":" Litre/s","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.2","seg2":"0.8","x":270,"y":380,"wires":[]},{"id":"c420feec.f45a7","type":"ui_toast","z":"8e427f2f.31f198","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":990,"y":140,"wires":[]},{"id":"31450cd7.5b2cbc","type":"function","z":"8e427f2f.31f198","name":"","func":"var output = msg.payload;\nif (output==0)\n{\n    return {payload:\"Electrovanne ouvert\"}\n}\nif (output==1)\n{\n   return {payload:\"Electrovanne fermé\"} \n}\n\n\n","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["c420feec.f45a7"]]},{"id":"4d72fd15.79870c","type":"ui_switch","z":"8e427f2f.31f198","name":"","label":"Electrovanne","tooltip":"","group":"ed8f740f.5eff7","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":750,"y":340,"wires":[["6265322c.b8aa3c","cb2382fc.2b50a"]]},{"id":"cb2382fc.2b50a","type":"function","z":"8e427f2f.31f198","name":"set global","func":"if (msg.payload==0)\n{\n    global.set('electrovanne',1);\n}\nelse\n{\n    global.set('electrovanne',1);\n}","outputs":0,"noerr":0,"x":1040,"y":420,"wires":[]},{"id":"d39d1ff2.7361a","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"conso","birthQos":"0","birthPayload":"","closeTopic":"conso","closeQos":"0","closePayload":"","willTopic":"conso","willQos":"0","willPayload":""},{"id":"e8d7f263.e41488","type":"ui_group","z":"","name":"Consommation","tab":"a48c2a77.5b8f","order":1,"disp":true,"width":"12","collapse":false},{"id":"ed8f740f.5eff7","type":"ui_group","z":"","name":"Gestion","tab":"a48c2a77.5b8f","order":2,"disp":true,"width":"12","collapse":false},{"id":"a48c2a77.5b8f","type":"ui_tab","z":"","name":"Compteur d'eau connecté","icon":"dashboard","order":1,"disabled":false,"hidden":false}]