eau/raspberry/node red/flows(1).json
[{"id":"8e427f2f.31f198","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8809eeec.90d26","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#13ecb0","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#13ecb0","edited":true},"page-titlebar-backgroundColor":{"value":"#13ecb0","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#5af2c8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#13ecb0","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d39d1ff2.7361a","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"conso","birthQos":"0","birthPayload":"","closeTopic":"conso","closeQos":"0","closePayload":"","willTopic":"conso","willQos":"0","willPayload":""},{"id":"c12fcaad.b5bc6","type":"ui_spacer","name":"spacer","group":"6d16874c.aa5b18","order":3,"width":1,"height":1},{"id":"94c2e072.60c158","type":"ui_spacer","name":"spacer","group":"6d16874c.aa5b18","order":3,"width":1,"height":1},{"id":"a6ff8210.d30488","type":"ui_spacer","name":"spacer","group":"6d16874c.aa5b18","order":3,"width":1,"height":1},{"id":"a48c2a77.5b8f","type":"ui_tab","z":"","name":"Compteur d'eau connectée","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e8d7f263.e41488","type":"ui_group","z":"","name":"Consommation","tab":"a48c2a77.5b8f","order":1,"disp":true,"width":"6","collapse":false},{"id":"f39edfbf.5757e","type":"debug","z":"8e427f2f.31f198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":340,"wires":[]},{"id":"64595b8b.109ad4","type":"mqtt in","z":"8e427f2f.31f198","name":"","topic":"compteur_connecte/conso","qos":"2","datatype":"utf8","broker":"d39d1ff2.7361a","x":190,"y":360,"wires":[["b62d4369.a15d1"]]},{"id":"b62d4369.a15d1","type":"function","z":"8e427f2f.31f198","name":"","func":"var output = msg.payload.split(\":\");\n\nvar Conso = parseInt(output[0]);\nvar Electrovanne = parseInt(output[1]);\nvar msg1 = {payload:Conso};\nvar msg2 = {payload:Electrovanne}\nreturn [msg1];","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["f39edfbf.5757e","b6928cb1.b69e88"]]},{"id":"b6928cb1.b69e88","type":"ui_text","z":"8e427f2f.31f198","group":"e8d7f263.e41488","order":0,"width":0,"height":0,"name":"affichage consomation","label":"Consommmation d'eau : ","format":"{{msg.payload}}","layout":"col-center","x":670,"y":140,"wires":[]},{"id":"506210dd.45d948","type":"ui_button","z":"8e427f2f.31f198","name":"ouvrir electrovanne","group":"e8d7f263.e41488","order":1,"width":0,"height":0,"passthru":false,"label":"Ouvrir electrovanne","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":410,"y":560,"wires":[["6265322c.b8aa3c"]]},{"id":"6265322c.b8aa3c","type":"mqtt out","z":"8e427f2f.31f198","name":"","topic":"gestion","qos":"","retain":"","broker":"d39d1ff2.7361a","x":660,"y":620,"wires":[]},{"id":"d8750e79.b33a38","type":"ui_button","z":"8e427f2f.31f198","name":"","group":"e8d7f263.e41488","order":2,"width":0,"height":0,"passthru":false,"label":"Fermer electrovanne","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":400,"y":680,"wires":[["6265322c.b8aa3c"]]}]